apiVersion: apps/v1
kind: Deployment
metadata:
  name: songs-deployment
  namespace: k8s-program
  labels:
    app.kubernetes.io/name: songs-microservice
spec:
  replicas: 2
  selector:
    matchLabels:
      app.kubernetes.io/name: songs-microservice
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  template:
    metadata:
      labels:
        app.kubernetes.io/name: songs-microservice
    spec:
      containers:
        - name: songs-container
          image: zurasoft/songs-microservice:2.0.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8081
          envFrom:
            - configMapRef:
                name: songs-configmap
          volumeMounts:
            - name: songs-volume
              mountPath: /app/data
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
            limits:
              memory: "1Gi"
              cpu: "500m"
          startupProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8081
            initialDelaySeconds: 20
            periodSeconds: 5
            failureThreshold: 40
            timeoutSeconds: 3
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8081
            periodSeconds: 10
            failureThreshold: 3
            timeoutSeconds: 3
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8081
            periodSeconds: 5
            failureThreshold: 3
            timeoutSeconds: 3
      volumes:
        - name: songs-volume
          persistentVolumeClaim:
            claimName: songs-pvc
