apiVersion: apps/v1
kind: Deployment
metadata:
  name: resources-deployment
  namespace: k8s-program
  labels:
    app.kubernetes.io/name: resources-microservice
spec:
  replicas: 2
  selector:
    matchLabels:
      app.kubernetes.io/name: resources-microservice
  template:
    metadata:
      labels:
        app.kubernetes.io/name: resources-microservice
    spec:
      containers:
        - name: resources-container
          image: resources-microservice:1.0.0
          imagePullPolicy: Never
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: resources-configmap
          startupProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 5
            failureThreshold: 40
            timeoutSeconds: 3
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            periodSeconds: 10
            failureThreshold: 3
            timeoutSeconds: 3
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            periodSeconds: 5
            failureThreshold: 3
            timeoutSeconds: 3
